.search__icon {
	width: 21px;
	height: 21px;
}

.search__form {
	display: flex;
	border: 1px solid var(--gray);
	border-radius: 10px;
}

.search__input {
	padding-left: 7px;

	&::placeholder {
		color: var();
		font-size: 17px;
		line-height: 40px;
		font-weight: 400;
		color: var(--black);
	}
}

.search__field {
	font-weight: 500;
	line-height: 40px;
	font-size: 17px;
	color: var(--text-color);
}

.search__button {
	width: 100%;
	height: 100%;

	&:hover {
		transition: all 0.5s ease;
		.search__icon {
			transition: all 0.5s ease;
			opacity: 0.5;
		}
	}
}

.search__box {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-left: 14px;

	&:first-child {
		padding-right: 54px;
		position: relative;

		&::before {
			content: '';
			border-right: 1px solid var(--gray);
			height: 28px;
			position: absolute;
			right: 0;
		}
	}

	&:nth-child(2) {
		max-width: 220px;
		justify-content: flex-end;
	}

	&:last-child {
		padding-left: 0;
	}
}

.search__icon {
	fill: var(--white);
}

.search__box-background {
	justify-content: center;
	border-radius: 0 10px 10px 0;
	width: 50px;
	height: 40px;
	background-color: var(--brown);
	padding-right: 0;
}

@media (max-width: 991px) {
	.search__form {
		display: none;
	}
}